@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

:root {
    --fontOpenSans: 'Open Sans', sans-serif;
    --fontIBMPlexSans: 'IBM Plex Sans', sans-serif;
}

body {
    font-family: var(--fontOpenSans);
}

.wrapper {
    padding: 2%
}
 
.product-name {
    font-size: 26px;
    font-weight: bold;
}

.header-new {
    background-image: url("../../images/new.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.header-hot {
    background-image: url("../../images/hot-item.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.header-best {
    background-image: url("../../images/best-seller.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.points {
    font-weight: bold;
    font-size: 22px;
    color: #74B71B;
}

.stock-status {
    font-weight: bold;
    color: #006A4E;
}

.btn-count {
    background-color: grey;
    width: 40px;
}

.btn-love {
    width: 60px;
    border-radius: 20px;
}

.btn-redeem {
    width: 120px;
    border-radius: 20px;
}

.btn-add {
    width: 120px;
    border-radius: 20px;
}

.text-desc {
    font-size: 15px;
}

.route-text {
    font-weight: bold;
}

.img-product {
    max-width: 50%;
}

.logo-box {
    height:23px;
    margin-bottom: 3px;
}